@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Barlow';
}

body{
    background-color: rgb(149, 234, 255);
}

.menu{
    background-color: white;
    text-align: center;
    margin: auto;
    height: 280px;
    width: 400px;
    padding: 30px;
    border-radius: 8px;
    margin-top: 10vh;
    box-shadow: -7px 7px orange;
}

h1{
    padding-bottom: 20px;
    font-weight: 500;
    color: orange;
}

p{
    color: rgb(85, 85, 85);
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 18px;
}

strong{
    color: orange;
}

#velocidade{
    background-color: orange;
    border-radius: 4px;
    border: none;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    color: rgb(85, 85, 85);
    font-weight: 500;
}

#botao{
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 14px;
    background-color: orange;
    width: 200px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

#vResultado{
    color: rgb(85, 85, 85);
}

img{
    display: flex;
    margin: auto;
    margin-top: 60px;
    background-color: white;
    border-radius: 25px;
    box-shadow: -3px 3px orange;
}

footer{
    background-color: white;
    box-shadow: -5px 5px orange;
    text-align: center;
    height: 30px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    margin-top: 50px;
}

footer p{
    color: orange;
    font-weight: 500;
}

footer p a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: orange;
    padding: 3px;
    border-radius: 6px;
}